.hero {
  background-image: url("../../../public/images/hero-image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
  padding: 0 1rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.subtitle {
  font-size: 1.1rem;
  margin: 0.5rem 0 1.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.shopButton {
  background-color: #7d6d6c;
  color: #fff9ef;
  border: 2px solid #7d6d6c;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.3s;
}

.shopButton:hover {
  background-color: #fff9ef;
  color: #7d6d6c;
}

.featured {
  text-align: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.featuredContent {
  max-width: 600px;
  margin: 0 auto;
}

.featuredContent h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.featuredContent p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.shopBtn {
  display: inline-block;
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s;
  background-color: #7d6d6c;
  color: #fff9ef;
  border: 2px solid #7d6d6c;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.shopBtn:hover {
  transform: translateY(-3px);
  background-color: #fff9ef;
  color: #7d6d6c;
}

/* 768px (Tablet ve üstü) */
@media (min-width: 768px) {
  .hero {
    height: 400px;
    padding: 0 40px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }

  .heroContent {
    align-items: flex-end;
  }

  .title {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .shopButton {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .featured {
    margin-top: 5rem;
  }

  .featuredContent h2 {
    font-size: 2.5rem;
  }
}

/* 1280px (Laptop/Küçük Masaüstü ve üstü) */
@media (min-width: 1280px) {
  .title {
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .subtitle {
    font-size: 2rem;
  }

  .featuredContent h2 {
    font-size: 3rem;
  }

  .featuredContent p {
    font-size: 1.2rem;
  }
}