.hero {
  background-image: url("../../../public/images/hero-image.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  text-align: center;
  padding: 0 20px;
  background-position: center;
  border-radius: 10px;
}
.title {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 5px;
}
.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  
}
.subtitle {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.shopButton {
  background-color: #7d6d6c;
  color: #fff9ef;
  border: none;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
