.nav {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #e0cfc7;
  
}
.logoImage {
  width: 80px;
  height: auto;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}