.page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 5%;
}

.header {
    text-align: center;
    margin-bottom: 4rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.subtitle {
    color: #666;
    font-size: 1.1rem;
}

.content {
    display: flex;
    gap: 3rem;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.main {
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}

.loading,
.empty {
    text-align: center;
    padding: 5rem;
    font-size: 1.2rem;
    color: #777;
}
.searchInput {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: 0 auto;
    background-color: #fff9ef; 
    color: #7d6d6c;
    border: 2px solid #7d6d6c;
    border-radius: 10px;
    padding: 0 1rem;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}