:root {
  font-family: "Playwrite NZ Basic", cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #7d6d6c;
  background-color: #fff9ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
}
