.container {
    padding: 1rem;
    background-color: #fcfcfc;
    border-radius: 8px;
    border: 1px solid #eee;
    margin-bottom: 2rem;
}

.title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.btn {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #7d6d6c;
    border: 1px solid #7d6d6c;
    padding: 0.5rem 0.8rem;
}

.btn:hover {
    background-color: #7d6d6c;
    color: #fff9ef;
}

.active {
    background-color: #909482;
    color: #fff !important;
    font-weight: 600;
}

/* 768px (Tablet ve üstü) */
@media (min-width: 768px) {
    .container {
        padding: 1.5rem;
        margin-bottom: 0;
    }

    .title {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .btn {
        padding: 0.6rem 1rem;
        font-size: 0.95rem;
    }
}