.container {
    padding: 1.5rem;
    background-color: #fcfcfc;
    border-radius: 8px;
    border: 1px solid #eee;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.btn {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.8rem;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #7d6d6c;
    border: 1px solid #7d6d6c;
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: #7d6d6c;
    color: #fff9ef;
}

.active {
    background-color: #909482;
    color: #fff !important;
    font-weight: 600;
}